section {
	width: 90%;
	margin: 0 auto;
}

/* マガジンビュー */
section a {
	text-decoration: none;
	color: #111;
}

.magazine {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: aliceblue;
	padding: 10px;
}

section.search img {
	width: 100%;
}
.image {
	width: 20%;
}

.article {
	width: 75%;
}
.title {
	font-weight: bold;
}
